<head>
<link href="css/editableTable.css" rel="stylesheet" type="text/css" />
<link href="css/makeMarker.css" rel="stylesheet" type="text/css" />
</head>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> 모듈 수정</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <!--Map-->
    <div class="markerMap">
      <div class="mMap">
        <img src="images/Nschool.png" class="imgMap" />
        <!--DynamicMarker-->
      </div>
    </div>

    <!-- editableTable /https://codepen.io/anon/pen/rGPmEE-->
    <div id="editableTable" style="font-size: 9pt;">
      <table class="table tablesorter">
        <thead>
          <tr>
            <th width="5%">No</th>
            <th width="12%">Location</th>
            <th width="17%">Serial</th>
            <th width="19%">MAC_DEC</th>
            <th width="19%">MAC_HEX</th>
            <th width="9%">X</th>
            <th width="9%">Y</th>
            <th width="5%"></th>
            <th width="5%">
              <span class="table-add glyphicon glyphicon-plus"></span>
            </th>
          </tr>
        </thead>
        <tbody id="classroom_info">
          <tr class="hide">
            <td contenteditable="true">test</td>
            <td contenteditable="true">null</td>
            <td contenteditable="true">null</td>
            <td contenteditable="true">null</td>
            <td contenteditable="true">null</td>
            <td contenteditable="true">null</td>
            <td contenteditable="true">null</td>
            <td>
              <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
            <td>
              <span class="table-up glyphicon glyphicon-arrow-up"></span>
              <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
          </tr>
          <!--DynamicTable-->
        </tbody>
        
      </table>
    </div>

    <button id="export-btn" class="btn btn-primary">데이터 수정</button>
    <p id="export"></p>

  </div>
</div>

<script>

$.getJSON("/api/class-data" , function(data) {
  var addMarker = "";
  var tbl_body = "";  
  //Dynamic Marker
  $.each(data, function(r, vr) { //행:[{...}, ...]의 개수 만큼 반복  
    var V = vr.LOC, X = vr.x-35, Y = vr.y-25;
    var tbl_row = "";
    addMarker += "<div class=\"marker\" id=_"+V+" data-coords="+vr.x+","+vr.y+"></div><div class=\"markerDiv\" id=_"+V+" style = \"top:"+Y+"px; left:"+X+"px;\">"+V+"</div>";

    //Dynamic Table
    $.each(this, function(k , v) { //각 행{"k":"v", ...}의 컬럼:k 개수 만큼 반복
      tbl_row += "<td contenteditable=\"true\">"+v+"</td>";
    })
    tbl_body += "<tr id=_"+V+">"+tbl_row+
    "<td><span class=\"table-remove glyphicon glyphicon-remove\"></span></td>"+
    "<td><span class=\"table-up glyphicon glyphicon-arrow-up\"></span>"+
    "<span class=\"table-down glyphicon glyphicon-arrow-down\"></span></td></tr>";

  })
  $(".mMap").append(addMarker);
  $("tbody#classroom_info").append(tbl_body);


  //필터 사용 후 개수 계산 및 No 갱신
  var trCount = $(".table > tbody tr").length-1;
  $(".hide > td:first").text(trCount); //.hide 제외하기위해 -1


  $('.marker').each(function(){
    var t = $(this), position = t.attr('data-coords').split(',');
    x = parseInt(position[0]), y = parseInt(position[1]),
    css = {
      position: 'absolute',
      zIndex: '2',
      top: y,
      left: x
    }
    t.css(css);
  }).draggable({
      containment : 'parent', // 부모요소 안에 종속
      drag : function(){
          var pos = $(this).position(); // 드래그 하는 이미지의 위치값 알아내기
          var x = parseInt(pos.left), y = parseInt(pos.top);
          var sX = $(".mMap").scrollLeft();
          var X = x+sX;
          var id = $(this).attr("id");
          $("tbody#classroom_info > tr#"+id).children().eq(5).text(X);
          $("tbody#classroom_info > tr#"+id).children().eq(6).text(y);
          $(".markerDiv#"+id).css({top:y-25, left:X-35});//.text("x:"+X+", y:"+y);
        },
      scroll: true,
      scrollSensitivity: 100
      })
});


//동적 테이블 생성 시, $().click 이벤트 동작 안함  
$(".table").on('click','.table-add',function () {
  var trCount = $(".table > tbody tr").length-1;
  $(".hide > td:first").text(++trCount - 1);
  var $clone = $("tbody#classroom_info > tr.hide").clone(true).removeClass('hide table-line');
  $('.table').append($clone);
});
$(".table").on('click','.table-remove',function () {
  $(this).parents('tr').detach();
  var trCount = $(".table > tbody tr").length-1;
  $(".hide > td:first").text(--trCount)
});
$(".table").on('click','.table-up',function () {
  var $row = $(this).parents('tr');
  if ($row.index() === 1) return; // Don't go above the header
  $row.prev().before($row.get(0));
});
$(".table").on('click','.table-down',function () {
  var $row = $(this).parents('tr');
  $row.next().after($row.get(0));
});

// A few jQuery helpers for exporting only
$.fn.pop = [].pop;
$.fn.shift = [].shift;

$('#export-btn').click(function () {
  var rows = $(".table").find('tr:not(:hidden)');
  var headers = [];
  var data = [];
  
  // Get the headers (add special header logic here)
  $(rows.shift()).find('th:not(:empty):not(:last-child)').each(function () {
    headers.push($(this).text());
  });
  
  // Turn all existing rows into a loopable array
  rows.each(function () {
    var td = $(this).find('td');
    var h = {};
    
    // Use the headers from earlier to name our hash keys
    headers.forEach(function (header, i) {
      h[header] = td.eq(i).text();   
    });
    
    data.push(h);
  });
  var Jdata = JSON.stringify(data);
  // Output the result
  $('#export').text(Jdata);

  var returnValue = confirm("정말로 데이터를 수정하시겠습니까?");
  if(returnValue){Json_To_DB(Jdata);}
});

function Json_To_DB(Jdata) {  
//https://www.w3schools.com/js/js_ajax_http.asp
  var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance

  xmlhttp.onreadystatechange = function() {//https://developer.mozilla.org/ko/docs/AJAX/Getting_Started
    if (xmlhttp.readyState === 4) {
      if (xmlhttp.status === 200) {
        alert(xmlhttp.responseText);
      } else {
        alert('There was a problem with the request.');
      }
    }
   };
  xmlhttp.open("POST", "/api/class-data-update");
  xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlhttp.send(Jdata);
 }
</script>
