<style type="text/css">
table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}
</style>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">교실 현황</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <!--교실 리스트-->
  <div class="col-lg-12">
    <!-- /.panel-heading -->
    <table class="table table-striped table-bordered table-hover" width="100%" id="Class_dataTable">
      <thead>
        <tr>
          <th>번호</th>
          <th>교실명</th>
          <th>담임</th>
          <th>학생 수</th>
          <th>디바이스 이름</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<!-- /.row -->
<!--교실등록 모달창 -->
<div class="fade modal text-center" id="myModal_classroom_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">교실 등록</h4>
      </div>
      <div class="modal-body text-danger">
        <!--일정 입력창 시작-->
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <tr>
                <td>교실명</td>
                <td>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <select class="form-control" id="myModal_class_name">
                            <option> 선택하세요. </option>
                          </select>
                        </td>
                        <td>&nbsp;&nbsp;
                          <button type="button" class="btn btn-primary btn-sm" data-target="#myModal_classroom_info_edit_name" data-toggle="modal" id="btn-class_name_edit">교실명 관리</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>담임</td>
                <td>
                  <select class="form-control" id="myModal_teacher_name">
                    <option> 선택하세요. </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>디바이스 이름</td>
                <td>
                  <select class="form-control" id="myModal_device_id">
                    <option> 선택하세요. </option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--교실 등록 끝-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-target="#myModal_student_info_edit" data-toggle="modal">확인</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="fade modal text-center" id="myModal_classroom_info_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">정보 수정</h4>
      </div>
      <div class="modal-body text-danger">
        <!--일정 입력창 시작-->
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <tr>
                <td>교실명</td>
                <td>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <select class="form-control" id="myModal_class_name">
                            <option> 선택하세요. </option>
                          </select>
                        </td>
                        <td>&nbsp;&nbsp;
                          <button type="button" class="btn btn-primary btn-sm" data-target="#myModal_classroom_info_edit_name" data-toggle="modal" id="btn-class_name_edit">교실명 관리</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>담임</td>
                <td>
                  <select class="form-control" id="myModal_teacher_name">
                    <option> 선택하세요. </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>디바이스 이름</td>
                <td>
                  <select class="form-control" id="myModal_device_id">
                    <option> 선택하세요. </option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--교실 등록 끝-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-target="#myModal_student_info_edit" data-toggle="modal">확인</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--학생 정보 모달 끝-->

<!--교실 분류 모달 시작-->
<!--분류 관리 모달창 끝-->
<!--분류 삭제 확인 모달창 시작-->
<!--분류 삭제 모달창 끝-->
<!--분류 수정 모달창 시작-->
<!--분류 수정 모달창 끝-->

<!--교실명 관리 모달창 시작-->
<div class="fade modal text-center" id="myModal_classroom_info_edit_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">교실명관리</h4>
      </div>
      <div class="modal-body text-danger">
        <!--분류 추가 시작-->
        <!--p class="text-muted">담당하고 있는 과목을 선택해 주십시오.</p-->
        <div class="table-responsive">
          <!--등록된 분류 리스트-->
          <table class="table table-striped table-bordered table-hover text-center" cellspacing="0" width="100%"" id="Class_name_dataTable">
            <thead>
              <tr>
                <th>
                  교실명
                </th>
                <th>
                  수정/삭제
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <!--신규 교실명등록 & 교실명 중복확인-->
          <table class="table table-bordered ">
            <tbody>
              <tr>
                <td>
                  <input class="form-control" placeholder="추가할 교실명을 입력해 주십시오" type="text">
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" id="config">중복확인</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--중복된 교실명이 있을경우-->
        <p class="text-danger">중복된 교실명이 없습니다 등록 가능합니다.</p>
        <!--중복된 교실명이 없을경우-->
        <p class="text-danger">중복된 교실명이 있습니다.</p>
        <!--교실명입력창 끝-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="add">확인</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--교실명 관리 모달창 끝-->
<!--교실명 삭제 확인 모달창 시작-->
<div class="fade modal text-center" id="myModal_classroom_info_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">선택한 교실명을 삭제하시겠습니까.</h4>
      </div>
      <div class="modal-body text-danger">
        <!--과목 입력창 시작-->
        <p class="text-muted">삭제된 교실명을 선택한 교실은 새로 선택해야 합니다.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="delete">확인</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--교실명 삭제 모달창 끝-->
<!--교실명 수정 모달창 시작-->
<div class="fade modal text-center" id="myModal_classroom_info_name_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">선택한 교실명을 수정하시겠습니까.</h4>
      </div>
      <div class="modal-body text-danger">
        <!--교실명 입력창 시작-->
        <p class="text-muted">해당 교실명의 교실도 반영이 됩니다.</p>
        <!--신규 교실명 등록 교실명 중복확인-->
        <table class="table table-bordered ">
          <tbody>
            <tr>
              <td>과학실</td>
              <td>
                <input class="form-control" placeholder="수정될 교실명을 입력해 주십시오" type="text">
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" id="config">중복확인</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!--중복된 교실명이 있을경우-->
        <p class="text-danger">중복된 교실명이 없습니다 수정 가능합니다.</p>
        <!--중복된 교실명이 없을경우-->
        <p class="text-danger">중복된 교실명이 있습니다.</p>
        <!--교실명 입력창 끝-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="edit">확인</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--교실명 수정 모달창 끝-->
<script>  
var C_dTable ,d, CN_dTable;
$(document).ready(function(){
  C_dTable = $('#Class_dataTable').DataTable({
    "info"        : false,
    "searching"   : true,
    "lengthChange": false,
    "processing"  : false,
    "order"       : [[ 1, "asc" ]],
    "ajax"        : {
        "url"     : "api/class-data",
        "dataSrc" : ""
    },
    "columns"  : [ {
        "data" : "no"
    },{
        "data" : "class_name"
    },{
        "data" : "teacher_name"
    }, {
        "data" : "student_cnt"
    }, {
        "data" : "device_id"
    }],
    "dom"     : 'Bfrtip',
    "buttons" : [
        {  
            text: '교실 등록',
            action: function ( e, dt, node, config ) {
                $('#myModal_classroom_new').modal('show')
            },
            className: 'btn  btn-default my-class-button'
        }
    ]
  });

  CN_dTable = $('#Class_name_dataTable').DataTable({
    "scrollY"       : "300px",
    "scrollCollapse": true,
    "paging"        : false,
    "info"          : false,
    "searching"     : false,
    "fnInitComplete": function(oSettings) {
        $('.dataTables_scrollHead thead').hide();
    }
  });   

  $('#Class_dataTable').on('init.dt', function() {
     $('.my-text-button') 
       .attr('data-toggle', 'modal')
       .attr('data-target', '#myModal_classroom_info_edit');  
  });

  $('#Class_dataTable tbody').on('click', 'tr', function (){
    var C_dData = C_dTable.row(this).data();
    dData.c_name = C_dData.class_name;
    $("#myModal_classroom_info_edit").modal();
    $("#myModal_classroom_info_edit .modal-title").text(dData.c_name+" / 교실 정보 수정")
   
    var sel_Class = "<option> 선택하세요. </option>",
        sel_Teacher = "<option> 선택하세요. </option>",
        sel_Device = "<option> 선택하세요. </option>";
    var tbl_body = "";
    $.each(C_dTable.data(), function() {
      var tbl_row = "";
      $.each(this, function(k , v) {
        switch(k){
          case "class_name" : 
            sel_Class += "<option> "+v+" </option>"; 
            tbl_row += "<td>"+v+"</td><td><button type=\"button\" class=\"btn btn-success btn-sm\" data-target=\"#myModal_classroom_info_name_edit\" data-toggle=\"modal\">수정</button><button type=\"button\" class=\"btn btn-warning btn-sm\" data-target=\"#myModal_classroom_info_del\" data-toggle=\"modal\">삭제</button></td>";
            break;
          case "teacher_name" : if(v!="-") sel_Teacher += "<option> "+v+" </option>"; break;
          case "device_id" : if(v!="-") sel_Device += "<option> "+v+" </option>"; break;
          default : break;
        }
      })
      tbl_body += "<tr>"+tbl_row+"</tr>";
    })
    $("#myModal_classroom_new #myModal_class_name").html(sel_Class);
    $("#myModal_classroom_new #myModal_teacher_name").html(sel_Teacher);
    $("#myModal_classroom_new #myModal_device_id").html(sel_Device);
    
    $("#myModal_classroom_info_edit #myModal_class_name").html(sel_Class);
    $("#myModal_classroom_info_edit #myModal_teacher_name").html(sel_Teacher);
    $("#myModal_classroom_info_edit #myModal_device_id").html(sel_Device);

    $("#Class_name_dataTable tbody").html(tbl_body);
  });

  //수정
  $('#Class_name_dataTable tbody').on('click', 'button', function(){
    dData.c_name = $(this).parents('tr').children()[0].textContent;
    $("#myModal_classroom_info_name_edit td").first().text(dData.c_name);
  });  


///////////////////////////////////////////////////////////////////////////////////////////////////
  //중복확인
  $('#config').on('click', 'button', function(){
    
    dData.flag = "config";
    CN_Edit(dData);
  }); 

  //추가
  $('#add').on('click', 'button', function(){
    dData.flag = "add";
    CN_Edit(dData);
  }); 

   //수정
  $('#edit').on('click', 'button', function(){
    dData.flag = "edit";
    CN_Edit(dData);
  });

   //삭제
  $('#delete').on('click', 'button', function(){
    dData.flag = "delete";
    CN_Edit(dData);
  });
///////////////////////////////////////////////////////////////////////////////////////////////////
/* 학생 개인 정보
  $('#Student_dataTable tbody').on('click', 'tr', function (){
    dData.s_name = this.children.student_name.textContent;
    $("#myModal_student_info").modal();
    $("#myModal_student_info .modal-title").text(dData.s_name)
    S_DataReload(dData);
  });
*/
});
// 교실 리스트
function C_DataReload(formData){
  $.ajax({ 
    url : "/api/class-data",
    type: "POST",
    data: dData,
    dataType: 'json',
    success: function(result){
      data = result;
      var tbl_body = "";
      $.each(data, function() {
        var tbl_row = "";
        $.each(this, function(k , v) {
         tbl_row += "<td id=\""+k+"\">"+v+"</td>";
        })
        tbl_body += "<tr>"+tbl_row+"</tr>";
      })
      $("#Student_dataTable tbody").html(tbl_body);
    }, 
    error: function(xhr, option, error){
      alert(xhr.status); 
      alert(error);
    }
  });
}
// 교실명 관리
function CN_Edit_DEL(formData){
  $.ajax({ 
    url : "/api/class_name-data",
    type: "POST",
    data: dData,
    dataType: 'json',
    success: function(result){
      data = result;
      var tbl_body = "";
      $.each(data, function() {
        var tbl_row = "";
        $.each(this, function(k , v) {
         tbl_row += "<td id=\""+k+"\">"+v+"</td>";
        })
        tbl_body += "<tr>"+tbl_row+"</tr>";
      })
      $("#Student_dataTable tbody").html(tbl_body);
    }, 
    error: function(xhr, option, error){
      alert(xhr.status); 
      alert(error);
    }
  });
}



/* 학생 리스트

function C_DataReload(formData){
  $.ajax({ 
    url : "/api/students-data",
    type: "POST",
    data: dData,
    dataType: 'json',
    success: function(result){
      data = result;
      var tbl_body = "";
      $.each(data, function() {
        var tbl_row = "";
        $.each(this, function(k , v) {
         tbl_row += "<td id=\""+k+"\">"+v+"</td>";
        })
        tbl_body += "<tr>"+tbl_row+"</tr>";
      })
      $("#Student_dataTable tbody").html(tbl_body);
    }, 
    error: function(xhr, option, error){
      alert(xhr.status); 
      alert(error);
    }
  });
}
*/
/* 학생 개인 정보
function S_DataReload(formData){
  $.ajax({ 
    url : "/api/student-data",
    type: "POST",
    data: dData,
    dataType: 'json',
    success: function(result){
      data = result;
      var tbl_body = "";
      $.each(data, function() {
        var tbl_row = "";
        $.each(this, function(k , v) {
         tbl_row += "<td id=\""+k+"\">"+v+"</td>";
        })
        tbl_body += "<tr>"+tbl_row+"</tr>";
      })
      $("#A_Student_dataTable tbody").html(tbl_body);
    }, 
    error: function(xhr, option, error){
      alert(xhr.status); 
      alert(error);
    }
  });
}
*/
</script>