<head>
<link href="css/editableTable.css" rel="stylesheet" type="text/css" />
<link href="css/makeMarker.css" rel="stylesheet" type="text/css" />
</head>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> 기기 관리</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <!--Map-->
    <div class="markerMap">
      <div class="mMap">
        <img src="images/Nschool.png" class="imgMap" />
        <!--DynamicMarker-->
      </div>
    </div>
<div class="panel panel-default">
      <div class="panel-heading"> 디바이스 목록
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="editableTable" style="font-size: 9pt;">
          <table class="table tablesorter">
            <thead>
              <tr>
                <th width="5%">번호</th>
                <th width="15%">위치</th>
                <th width="15%">이름</th>
                <th width="12%">교체일</th>
                <th width="18%">물리주소</th>
                <th width="20%">설명</th>
                <th width="5%">X</th>
                <th width="5%">Y</th>
                <th width="5%">
                  <span class="table-add glyphicon glyphicon-plus"></span>
                </th>
              </tr>
            </thead>
            <tbody id="classroom_info">
              <tr class="hide">
                <td contenteditable="false"></td>
                <td placeholder="입력하세요." contenteditable="true"></td>
                <td placeholder="이름" contenteditable="true"></td>
                <td placeholder="교체일" contenteditable="true"></td>
                <td placeholder="물리주소" contenteditable="true"></td>
                <td placeholder="설명" contenteditable="true"></td>
                <td id="cx" contenteditable="true">100</td>
                <td id="cy" contenteditable="true">100</td>
                <td>
                  <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
              </tr>
              <!--DynamicTable-->
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>

    <table width="100%" style="margin-bottom: 50px;">
    <tr>
      <td rowspan="2"><button id="export-btn" class="btn btn-primary">데이터 수정</button></td>
      <td style="text-align: right;">
        <p> ※번호, 이름, 물리주소는 수정할 수 없습니다. (추가는 예외) </p>
      </td>
    </tr>
    <tr>
      <td style="text-align: right;">
        <p> [추가] 먼저, 데이터를 입력하여 추가하고, 좌표는 상단의 맵에서 수정해주세요.</p>
      </td>
    </tr>
    </table>
    <!--p id="export"></p-->

  </div>
</div>

<script>

$.getJSON("/api/class-data" , function(data) {
  var addMarker = "";
  var tbl_body = "";  
  $.each(data, function(r, vr) { 
    var V = vr.LOC, X = vr.x-35, Y = vr.y-25;
    var tbl_row = "";
    var editable = true;
    addMarker += "<div class=\"marker\" id=_"+V+" data-coords="+vr.x+","+vr.y+"></div><div class=\"markerDiv\" id=_"+V+" style = \"top:"+Y+"px; left:"+X+"px;\">"+V+"</div>";
    $.each(this, function(k , v) {
      editable = true; 
      if(k=="NO"||k=="SERIAL"||k=="MAC") editable = false;
      tbl_row += "<td id=\""+k+"\" contenteditable=\""+editable+"\">"+v+"</td>";
    })
    tbl_body += "<tr id=_"+V+">"+tbl_row+
    "<td><span class=\"table-remove glyphicon glyphicon-remove\"></span></td></tr>";

  })
  $(".mMap").append(addMarker);
  $("tbody#classroom_info").append(tbl_body);

  var trCount = $("#editableTable .table > tbody tr").length-1;
  $(".hide > td:first").text(trCount);


  $('.marker').each(function(){
    var t = $(this), position = t.attr('data-coords').split(',');
    x = parseInt(position[0]), y = parseInt(position[1]),
    css = {
      position: 'absolute',
      zIndex: '2',
      top: y,
      left: x
    }
    t.css(css);
  }).draggable({
      containment : 'parent',
      drag : function(){
          var pos = $(this).position(); 
          var x = parseInt(pos.left), y = parseInt(pos.top);
          var sX = $(".mMap").scrollLeft();
          var X = x+sX;
          var id = $(this).attr("id");
          $("tbody#classroom_info > tr#"+id+" > td#x").text(X);
          $("tbody#classroom_info > tr#"+id+" > td#y").text(y);
          $(".markerDiv#"+id).css({top:y-25, left:X-35});
        },
      scroll: true,
      scrollSensitivity: 100
      })
});

$(".table").on('click','.table-add',function () {
  var trCount = $("#editableTable .table > tbody tr").length-1;
  $(".hide > td:first").text(++trCount);
  var $clone = $("tbody#classroom_info > tr.hide").clone(true).removeClass('hide table-line');
  $('.table').append($clone);
});
$(".table").on('click','.table-remove',function () {
  $(this).parents('tr').detach();
  var trCount = $("#editableTable .table > tbody tr").length-1;
  $(".hide > td:first").text(--trCount)
});


$.fn.pop = [].pop;
$.fn.shift = [].shift;
var Jdata;
$('#export-btn').click(function () {
  var rows = $("#editableTable .table").find('tr:not(:hidden)');
  var headers = [];
  var data = [];
  
  $(rows.shift()).find('th:not(:empty):not(:last-child)').each(function () {
    headers.push($(this).text());
  });
  
  rows.each(function () {
    var td = $(this).find('td');
    var h = {};
    
    headers.forEach(function (header, i) {
      h[header] = td.eq(i).text();   
    });
    
    data.push(h);
  });
  Jdata = JSON.stringify(data);
  $('#export').text(Jdata);

  var returnValue = confirm("정말로 데이터를 수정하시겠습니까?");
  if(returnValue){POST_func(Jdata);}
});

function POST_func(Jdata) {  
  var xmlhttp = new XMLHttpRequest(); 
  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState === 4) {
      if (xmlhttp.status === 200) {
        alert(xmlhttp.responseText);
      } else {
        alert('There was a problem with the request.');
      }
    }
   };
  xmlhttp.open("POST", "/api/class-data-update");
  xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlhttp.send(Jdata);
}
</script>
