<head>
  <link rel="stylesheet" href="css/stylenew.css" />
  <style type="text/css">
    #mloader{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99999;
      background-color: #000;
      opacity: 0.7;
      display:none;
    }

    #mloader .masterkey_blink {
      font-size:20px;
      font-weight:bold;
      margin: 10% 45%;
        -webkit-animation: masterkey_blink 3s linear infinite;
    } 
    @-webkit-keyframes masterkey_blink {
        15% { color: white; }
        40% { color: black; }
        75% { color: white; }
    }
    #sensor_bar_chart{
      width : 100%;
    }
    #daily_line_chart{
      width : 100%;
    }
    #range_chart{
      width : 100%;
    }
  </style>
</head>

<div id="mloader"><div class="masterkey_blink">LOADING...</div></div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> 오류 현황</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
  <div class="col-lg-12">

    <div id="chartGroupDiv">

      <div class="row">
        <div class="col-lg-12">
          <div class="chart-wrapper" id="total-projects">
            <div class="chart-title">
              <strong> 총 오류 개수 </strong><a href='javascript:dc.filterAll();dc.redrawAll();'><font size="2px">- 초기화</font></a>  
            </div> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="chart-wrapper" id="sensor_bar_chart">
            <div class="chart-title">
              <strong> 교실별 오류 확인 </strong>
            </div>  
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="chart-wrapper" id="daily_line_chart" style="margin-bottom: -2px";
>
            <div class="chart-title">
              <strong> 시간별 오류 확인 </strong><a href='javascript:dc.filterAll();dc.redrawAll();'><font size="2px">- 초기화</font></a>   
            </div>
          </div> 
          <div class="chart-wrapper" id="range_chart"> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="chart-wrapper" id="type_row_chart">
            <div class="chart-title">
              <strong> 센서별 오류 확인 </strong>
            </div> 
          </div> 
        </div>
        <div class="col-lg-6">
          <div class="chart-wrapper" id="type_pie_chart">
            <div class="chart-title">
              <strong> 센서별 오류 확인 </strong>
            </div> 
          </div> 
        </div>
      </div>

    </div>

  </div>
</div>

<script>
var totalProjects = dc.numberDisplay("#total-projects"),
    sensor_bar_chart = dc.barChart("#sensor_bar_chart"),
    daily_line_chart = dc.lineChart("#daily_line_chart"),
    range_chart = dc.barChart('#range_chart'),
    type_row_chart = dc.rowChart("#type_row_chart"),
    type_pie_chart = dc.pieChart("#type_pie_chart");

var data;
$.ajax({
  type: "GET",
  url: "/api/error-data",
  dataType: 'json',
  beforeSend: function() { 
    $('#mloader').show();
  },
  success: function(result){
    data = result;

    var time_format_hourly =d3.time.format.iso;
    data.forEach(function(row) {
      row.d3format_time = time_format_hourly.parse(row.time);
      row.total_cnt = +row.total_cnt;
      row.loc = row.loc.replace('학년', '-').replace('교실','');
    })

    var domain = [ data[0].d3format_time, data.slice(-1)[0].d3format_time ];
    var filter = crossfilter(data);
    var all = filter.groupAll();
  /************************************************************************/
    var totalcnts = all.reduceSum(function(d) {return d.cnt;});

    totalProjects
      .formatNumber(d3.format(",d"))
      .valueAccessor(function(d){return d; })
      .group(totalcnts);
  /************************************************************************/
    var sensor_dimension = filter.dimension(row => row.loc)
    var sensor_group = sensor_dimension.group().reduceSum(row => row.cnt)
    dom = $("#sensor_bar_chart").parent()
    width = dom.width()

    sensor_bar_chart
      .width(width).height(300)
      .margins({top: 20, right: 50, bottom: 20, left: 60})
      .dimension(sensor_dimension).group(sensor_group)
      .title(d => d.value)
      .x(d3.scale.ordinal())
      .xUnits(dc.units.ordinal)
      //.outerPadding(0.05)
      .elasticY(true)
      .renderHorizontalGridLines(true)
      .render();
  /************************************************************************/
    var daily_dimension = filter.dimension(row => row.d3format_time)
    var daily_group = daily_dimension.group().reduceSum(row => row.cnt)

    var dom = $("#daily_line_chart").parent()
    var width = dom.width()

    range_chart
      .margins({top: 0, right: 50, bottom: 20, left: 60})
      .height(40)
      .dimension(daily_dimension)
      .group(daily_group)
      .x(d3.time.scale().domain(domain))
      .xUnits(d3.time.day)
      .centerBar(true)
      .render();

    daily_line_chart
      .interpolate("monotone") 
      .renderArea(true)
      .width(width).height(300)
      .margins({top: 20, right: 50, bottom: 20, left: 60})
      .dimension(daily_dimension).group(daily_group)
      .rangeChart(range_chart)
      .x(d3.time.scale().domain(domain))
      .xUnits(d3.time.hour)
      .brushOn(false)
      .renderHorizontalGridLines(true)
      .renderVerticalGridLines(true)
      .elasticY(true)
      .mouseZoomable(true)
      .zoomScale([1, 100])
      .transitionDuration(500)
      .render();
  /************************************************************************/
    var type_dimension1 = filter.dimension(row => row.type)
    var type_group1 = type_dimension1.group().reduceSum(row => row.cnt)
    dom = $("#type_row_chart").parent()
    width = dom.width()

    type_row_chart
      .width(width).height(200)
      .dimension(type_dimension1).group(type_group1)
      .label(d => d.key + ((d.value < 10000) ? ": "+d.value+" 개" : ": 약 "+(d.value/10000).toFixed(0)+"만 개"))
      .title(d => d.key + ((d.value < 10000) ? ": "+d.value+" 개" : ": 약 "+(d.value/10000).toFixed(0)+"만 개"))
      //.xAxis().ticks(8)
      .elasticX(true)

  /************************************************************************/
    var type_dimension2 = filter.dimension(row => row.type)
    var type_group2 = type_dimension2.group().reduceSum(row => row.cnt)
    dom = $("#type_pie_chart").parent()
    width = dom.width()

    type_pie_chart
      .width(width).height(200)
      .dimension(type_dimension2).group(type_group2)
      .label(function (d) {
        if (type_pie_chart.hasFilter() && !type_pie_chart.hasFilter(d.key)) {
          return d.key + '(0%)';
        }
        var label = d.key;
        if (all.value()) {
          label += '(' + Math.floor(d.value / all.value() * 100) + '%)';
        }
        return label;
      })
      .title(d => d.key + ((d.value < 10000) ? ": "+d.value+" 개" : ": 약 "+(d.value/10000).toFixed(0)+"만 개"))

      window.addEventListener("resize", resizeFunction);

      var xa = 0;
      function resizeFunction() {
        var txt = ++xa;

        var wt = $("#sensor_bar_chart").parent().width()
        sensor_bar_chart
            .width(wt)
            .rescale()
            .render()

        daily_line_chart
            .width(wt)
            .rescale()
            .render()

        range_chart
            .width(wt)
            .rescale()
            .render()

        $("#range_chart .y").remove()
      }  

    dc.renderAll()
        $("#range_chart .y").remove()

  }, 
  error: function(xhr, option, error){
    alert(xhr.status); 
    alert(error);
  },
  complete: function(){
    $('#mloader').hide();

  }
});
  
</script>