<head>
  <link href="css/dropdown.css" rel="stylesheet" type="text/css" />
  <link href="vendor/craftmap/css/default.css" rel="stylesheet" type="text/css" />
  <link href="vendor/craftmap/css/demo1.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/stylenew.css" />
  <style type="text/css">
    #mloader{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99999;
      background-color: #000;
      opacity: 0.7;
      display:none;
    }

    #mloader .masterkey_blink {
      font-size:20px;
      font-weight:bold;
      margin: 10% 45%;
        -webkit-animation: masterkey_blink 3s linear infinite;
    } 
    @-webkit-keyframes masterkey_blink {
        15% { color: white; }
        40% { color: black; }
        75% { color: white; }
    }
    #sensor_bar_chart{
      width : 100%;
    }
    #daily_line_chart{
      width : 100%;
    }
    #range_chart{
      width : 100%;
    }
  </style>
</head>

<div id="mloader"><div class="masterkey_blink">LOADING...</div></div>

<div class="row">
  <div class="col-lg-12">
     <h1 class="page-header">환경 정보 [<span id="nowTime"></span>]</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <!-- craftmap -->
    <div class="panel-body" id="content">
      <div class="relative">
        <div class="demo1">
          <img src="images/Nschool.png" class="imgMap" />
        </div>
        <div class="controls">
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'GeneralClass')">일반교실</button>
            <button class="tablinks" onclick="openCity(event, 'SpecialClass')">특별교실</button>
          </div>

          <div id="GeneralClass" class="tabcontent">
          </div>

          <div id="SpecialClass" class="tabcontent">
          </div>

        </div>
      </div>
    </div>

    <!--Graph-->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel-body" id="chartGroupDiv">

              <!--div class="chart-wrapper" id="daily_line_chart">
                <div class="chart-title">
                  <strong> 일별 데이터 </strong><a href='javascript:dc.filterAll();dc.redrawAll();'><font size="2px">- 초기화</font></a>   
                </div>
              </div>
              <div id="range_chart"></div-->                
              <div class="chart-wrapper" id="test">
                <div class="chart-title">
                  <strong> 환경 그래프 </strong>
                  <!--a href='javascript:dc.filterAll();dc.redrawAll();'><font size="2px">- 초기화</font></a-->   
                </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success" id="btn_hourly">시간별</button>
                    <button type="button" class="btn btn-success" id="btn_daily">일별</button>
                  </div>
              </div>

            <!--div class="col-lg-4">
              <div class="chart-wrapper" id="type_pie_chart">
                <div class="chart-title">
                  <strong> 센서별 데이터 </strong>
                </div> 
              </div> 
            </div-->

          <!--div class="row">
            <div class="col-lg-12">
              <div id="test"></div>
            </div>
          </div-->

        </div>
      </div>
    </div>

    <!--Table-->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel-body" id="class-table">
          <div class="chart-wrapper">
            <div class="chart-title">
              <strong> 교실 상세현황 </strong>
              <input position="left" type="text" id="myInput" onkeyup="tbFilter()" placeholder="교실명을 입력하세요." title="Type in a name"><span id="rowCnt"> 0</span><!--a href='javascript:dc.filterAll();dc.redrawAll();'><font size="2px">- 초기화</font></a-->   
            </div>
            <table  style="font-size: 9pt;" class="table table-bordered text-center table-scrollable table-hover table-fixed" id="sensor_table" style="margin-bottom: 0px;">
              <thead class="fixed_thead">
                <tr>
                  <td colspan="2">센서 정보</td>
                  <td colspan="3">실시간 데이터</td>
                </tr>
                <tr>
                  <td width="13%">위치</td>
                  <td width="26%">물리주소</td>
                  <td width="17%">종류</td>
                  <td width="17%">값</td>
                  <td width="27%">시간</td>
                </tr>
              </thead>
              <tbody id="sensor_table_tbody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="vendor/craftmap/js/jquery.js" type="text/javascript"></script>
<script>
$.getJSON("/api/devicesensor-data" , function(data) {
  var addMarker = "",
      addControl_1 = "",
      addControl_2 = "";
  $.each(data, function(r, vr) { 

    var V = vr.loc, X = vr.x-10, Y = vr.y-20;
    addMarker += "<div class=\"marker\" id="+V+" data-coords="+vr.x+","+vr.y+"><h3>"+V+"</h3><div class=\"popup_Contents\" >"+
    "<table width=\"100%\"><tr><td><img src=\"images/temp.png\"/></td><td style = \"width : 110px\">temperature<p class =\"온도\"> - </p></td><td><img src=\"images/humi.png\"/></td><td style = \"width : 110px\">humidity<p class =\"습도\"> - </p></td></tr><tr><td><img src=\"images/noise.png\"/></td><td>dust<p class =\"미세먼지\"> - </p></td><td><img src=\"images/co2.png\"/></td><td>co2<p class =\"이산화탄소\"> - </p></td></tr></table></div></div>";
    V.substring(1,3) == "학년" ? addControl_1 += "<a rel="+V+">"+V+"</a>" : addControl_2 += "<a rel="+V+">"+V+"</a>"
  })
  $("#GeneralClass").append(addControl_1);
  $("#SpecialClass").append(addControl_2);
  $(".demo1").append(addMarker);
  update_data() 
  document.getElementById("rowCnt").innerHTML = $("#sensor_table_tbody tr").length;
  $('.demo1').craftmap({
    h: 500,
    map: {
      position: 'center2'
    },
    image: {
      width: 3060,
      height: 600
    }
  });
})




var interval = setInterval(update_data, 5000); 
function update_data() {
  if(document.getElementById("myInput") === null) {
    clearInterval(interval);
    return false;
  }
  $.getJSON("/api/sensor-data" , function(data) {
    var tbl_body = "";
    var input = document.getElementById("myInput");
    var filter = input.value.toUpperCase();
    $.each(data, function() {
      var tbl_row = "";
      var tbl_disp = "";
      var tempId, tempType;
      $.each(this, function(k , v) {
        switch(k){
          case "LOC" :
            tempId = v;
            if (v.toUpperCase().indexOf(filter) > -1) {
              tbl_disp = "";
            } else {
              tbl_disp = "style=\"display: none;\"";
            }
            tbl_row = tbl_row+tbl_disp+"class = "+v+">";
            tbl_row += "<td>"+v+"</td>";
            break;
          case "TIME" : 
              if(moment().diff(v, 'minutes') >= 10 || v == null){
                tbl_row += "<td style=\"color:Tomato;\">"+moment(v).fromNow()+"</td>";
                $(".marker#"+tempId).css("background", "url(../images/wifi_red.png) no-repeat");
              }
              else{tbl_row += "<td>"+moment(v).fromNow()+"</td>";}
            break;
          case "TYPE" :
            v == null ? v = "-" : tempType = v;
            tbl_row += "<td>"+v+"</td>";
            break;
          case "DATA" :
            v = v == null ? "-" : transeData(tempType,v);
            tbl_row += "<td>"+v+"</td>";
            $(".marker#"+tempId+" .popup_Contents p."+tempType).text(v);
            break;
          default : tbl_row += "<td>"+v+"</td>";
        }
      })
      tbl_body += "<tr "+tbl_row+"</tr>";
    })
    $("#sensor_table_tbody").html(tbl_body);
  });
  return false;
}

function tbFilter() {
  var input, filter, table, tr, td, displayCnt=0;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("sensor_table_tbody");
  tr = table.getElementsByTagName("tr");
  for (var i = 0, l = tr.length; i < l; i++) {
    td = tr[i].getElementsByTagName("td");
    for(var j = 0; j < 3; j++) {
      if (td[j]) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          displayCnt++;
          break;
        } else {
          tr[i].style.display = "none";
        }
      }
    }       
  }
  document.getElementById("rowCnt").innerHTML = displayCnt;
}

function openCity(evt, cityName) {
  var tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (var i = 0, l = tabcontent.length; i < l; i++) {
    if(cityName == tabcontent[i].id )
      tabcontent[i].classList.toggle("show");
    else{
      if (tabcontent[i].classList.contains('show')) {
        tabcontent[i].classList.remove('show');
      }
    }
  }
}

window.onclick = function(event) {
  if (!event.target.matches('.tablinks')) {
    var dropdowns = document.getElementsByClassName("tabcontent");
  for (var i = 0, l = dropdowns.length; i < l; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}


</script>
<script src="vendor/craftmap/js/craftmap2.js" type="text/javascript"></script>

<script>
/*
var daily_line_chart = dc.lineChart("#daily_line_chart"),
    range_chart = dc.barChart('#range_chart'),
    type_pie_chart = dc.pieChart("#type_pie_chart");
*/
var chart = dc.seriesChart("#test");

var data;
var filter;
var runDimension;
var runGroup;


//조건에 따라 그래프 다시 그리기.. 잘 안되네 ㅎㅎ;
var formData = {"sel":"daily","loc":""}
DataReload(formData);

$(".btn-group").on('click','.btn-success',function () {
  formData.sel = this.id.slice(4);
  DataReload(formData);
});

function DataReload(formData){
  $.ajax({ 
    url : "/api/sensor_dh-data",
    type: "POST",
    data: formData,
    dataType: 'json',
    beforeSend: function() { 
      $('#mloader').show();
    },
    success: function(result){
      data = result;
      if(data.length == 0){
        alert("데이터가 없습니다.")
        return;
      }
       //filter.remove();
       //filter.add(result);
      // dc.redrawAll();
    var dateFormat        = d3.time.format('%m/%d/%Y');
    var numberFormat      = d3.format('.2f');
    var time_format_daily = d3.time.format.iso;
    data.forEach(function(row) {
      row.d3format_time = time_format_daily.parse(row.time);
    })

    var domain = [ data[0].d3format_time, data.slice(-1)[0].d3format_time ];
    filter = crossfilter(data);
    var all = filter.groupAll();
    runDimension = filter.dimension(row => [row.type, row.d3format_time]);
    runGroup = runDimension.group().reduce(
      function (p, v) {
          ++p.d3format_time;
          p.total += v.avge;
          p.avg = Math.round(p.total / p.d3format_time);
          return p;
      },
      function (p, v) {
          --p.d3format_time;
          p.total -= v.avge;
          p.avg = p.d3format_time ? Math.round(p.total / p.d3format_time) : 0;
          return p;
      },
      function () {
          return {d3format_time: 0, total: 0, avg: 0};
      }
    );
    
    function transeData2(tempType,v){
      switch(tempType){
        case "습도" : v=v/10;
         break;
        case "온도" : v=v/10;
          break;
        case "이산화탄소" : v=v/10;
          break;
        default : v+="";
      }
      return Math.round(v);
    }
    var dom = $("#test").parent()
    var width = dom.width()
    var adjustX = 10, adjustY = 40;
    chart
        .width(width-adjustX).height(400-adjustY)
        .chart(function(c) { return dc.lineChart(c).interpolate('cardinal'); })
        .x(d3.time.scale().domain(domain))
        .margins({top: 30, right: 30, bottom: 20, left: 60})
        .brushOn(false)
        .clipPadding(100)
        .elasticY(true)
        .dimension(runDimension)
        .group(runGroup)
        .renderHorizontalGridLines(true)
        .renderVerticalGridLines(true)
        .mouseZoomable(true)
        .seriesAccessor(function(d) {return d.key[0];})
        .keyAccessor(function(d) {return d.key[1];})
        .valueAccessor(d => transeData2(d.key[0], d.value.avg))
        .title(function (d) {
          var value = d.value.avg ? d.value.avg : d.value;
          if (isNaN(value)) {
              value = 0;
          }
          return d.key[0]+' : '+transeData(d.key[0], value)+'\n'+d.key[1];
        });
    chart.legend(dc.legend().x(width-width*0.15).y(5).itemHeight(13).gap(5)
                 .horizontal(1).legendWidth(140).itemWidth(70));
 
      window.addEventListener("resize", resizeFunction);

      var xa = 0;
      function resizeFunction() {
        var txt = ++xa;

        var wt = $("#test").parent().width()
 
          chart
              .width(wt)
              .legend(dc.legend().x(wt-wt*0.15).y(5).itemHeight(13).gap(5)
                 .horizontal(1).legendWidth(140).itemWidth(70))
              .rescale()
              .render()
        
      }  

    dc.renderAll()
    }, 
    error: function(xhr, option, error){
      alert(xhr.status); 
      alert(error);
    },
    complete: function(){
      $('#mloader').hide();

    }
  });
}















////////////////////////////////////////////////////////////////////////////////////////////


// function t(){
// $.ajax({
//   type: "GET",
//   url: "/api/sensor_daily-data",
//   dataType: 'json',
//   beforeSend: function() { 
//     $('#mloader').show();
//   },
//   success: function(result){
//     data = result;
//     var dateFormat        = d3.time.format('%m/%d/%Y');
//     var numberFormat      = d3.format('.2f');
//     var time_format_daily = d3.time.format.iso;
//     data.forEach(function(row) {
//       row.d3format_time = time_format_daily.parse(row.time);
//     })

//     var domain = [ data[0].d3format_time, data.slice(-1)[0].d3format_time ];
//     filter = crossfilter(data);
//     var all = filter.groupAll();
//   /************************************************************************/
// /*
//   {loc: "1학년2반", time: "2017-10-17T15:00:00.000Z", type: "미세먼지", avge: 6, d3format_time: Wed Oct 18 2017 00:00:00 GMT+0900 (대한민국 표준시)}
// */
//      runDimension = filter.dimension(row => [row.type, row.d3format_time]);
//      runGroup = runDimension.group().reduce(
//         function (p, v) {
//             ++p.d3format_time;
//             p.total += v.avge;
//             p.avg = Math.round(p.total / p.d3format_time);
//             return p;
//         },
//         function (p, v) {
//             --p.d3format_time;
//             p.total -= v.avge;
//             p.avg = p.d3format_time ? Math.round(p.total / p.d3format_time) : 0;
//             return p;
//         },
//         function () {
//             return {d3format_time: 0, total: 0, avg: 0};
//         }
//     );//.reduceSum(function(d) { return +d.avge; });.reduceSum(function(d) { return +d.avge; });

//     function transeData2(tempType,v){
//       switch(tempType){
//         case "습도" : v=v/10;
//          break;
//         case "온도" : v=v/10;
//           break;
//         case "이산화탄소" : v=v/100;
//           break;
//         default : v+="";
//       }
//       return Math.round(v);
//     }
//     var dom = $("#test").parent()
//     var width = dom.width()
//     var adjustX = 10, adjustY = 40;
//     chart
//         .width(width-adjustX).height(400-adjustY)
//         //.margins({top: 20, right: 30, bottom: 20, left: 60})
//         .chart(function(c) { return dc.lineChart(c).interpolate('cardinal'); })
//         // .chart(function (c) {
//         //   var child = dc.lineChart(c);
//         //   dc.override(child, 'yAxisMin', function () {
//         //       var min = d3.min(child.data(), function (layer) {
//         //           return d3.min(layer.values, function (p) {
//         //               return p.y + p.y0;
//         //           });
//         //       });
//         //       return dc.utils.subtract(min, child.yAxisPadding());
//         //   });
//         //   return child;
//         // })
//         .x(d3.time.scale().domain(domain))
//         .margins({top: 30, right: 30, bottom: 20, left: 60})
//         //.y([0, 100])
//         .brushOn(false)
//         //.yAxisLabel("수치")
//         //.xAxisLabel("일자")
//         .clipPadding(100)
//         .elasticY(true)
//         .dimension(runDimension)
//         .group(runGroup)
//         .renderHorizontalGridLines(true)
//         .renderVerticalGridLines(true)
//         .mouseZoomable(true)
//         .seriesAccessor(function(d) {return d.key[0];})
//         .keyAccessor(function(d) {return d.key[1];})
//         .valueAccessor(d => transeData2(d.key[0], d.value.avg))
//         .title(function (d) {
//           var value = d.value.avg ? d.value.avg : d.value;
//           if (isNaN(value)) {
//               value = 0;
//           }
//           return d.key[0]+' : '+transeData(d.key[0], value)+'\n'+d.key[1];
//         });
//     chart.legend(dc.legend().x(width-adjustX-200).y(0).itemHeight(13).gap(5)
//                  .horizontal(1).legendWidth(140).itemWidth(70));
//     //chart.margins().left += 40;

//     /*
//      apply_resizing(chart, adjustX, adjustY, function(chart) {
//         chart.legend().x(window.innerWidth-200);
//       });
//     */
//   ***********************************************************************
//     var daily_dimension = filter.dimension(row => row.d3format_time)
//     //var daily_group = daily_dimension.group().reduceSum(row => row.avge/30)
//     var daily_group = daily_dimension.group().reduce(
//         function (p, v) {
//             ++p.d3format_time;
//             p.total += v.avge;
//             p.avg = Math.round(p.total / p.d3format_time);
//             return p;
//         },
//         function (p, v) {
//             --p.d3format_time;
//             p.total -= v.avge;
//             p.avg = p.d3format_time ? Math.round(p.total / p.d3format_time) : 0;
//             return p;
//         },
//         function () {
//             return {d3format_time: 0, total: 0, avg: 0};
//         }
//     );
//     var dom = $("#daily_line_chart").parent()
//     var width = dom.width()

//     range_chart
//       .margins({top: 0, right: 30, bottom: 20, left: 60})
//       .height(40)
//       .dimension(daily_dimension)
//       .group(daily_group)
//       .x(d3.time.scale().domain(domain))
//       .xUnits(d3.time.month)
//       .centerBar(true)
//       .render();

//     daily_line_chart
//       .renderArea(true)
//       .width(width).height(300)
//       .margins({top: 20, right: 50, bottom: 20, left: 60})
//       .dimension(daily_dimension).group(daily_group, 'Daily Data Average')
//       .valueAccessor(function (d) {
//             return d.value.avg;
//         })
//       .title(function (d) {
//             var value = d.value.avg ? d.value.avg : d.value;
//             if (isNaN(value)) {
//                 value = 0;
//             }
//             return dateFormat(d.key) + '\n' + numberFormat(value);
//         })
//       .rangeChart(range_chart)
//       .x(d3.time.scale().domain(domain))
//       .xUnits(d3.time.day)
//       .brushOn(false)
//       .renderHorizontalGridLines(true)
//       .renderVerticalGridLines(true)
//       .elasticY(true)
//       .mouseZoomable(true)
//       .zoomScale([1, 100])
//       .transitionDuration(500)
//       .render()

//   ************************************************************************
//     var type_dimension2 = filter.dimension(row => row.type)
//     var type_group2 = type_dimension2.group()
//     dom = $("#type_pie_chart").parent()
//     width = dom.width()

//     type_pie_chart
//       .width(width).height(200)
//       .dimension(type_dimension2).group(type_group2)
//       .label(function (d) {
//         if (type_pie_chart.hasFilter() && !type_pie_chart.hasFilter(d.key)) {
//           return d.key + '(0%)';
//         }
//         var label = d.key;
//         if (all.value()) {
//           label += '(' + Math.floor(d.value / all.value() * 100) + '%)';
//         }
//         return label;
//       })
//       .title(d => d.key + ": " + d.value)

//   ***********************************************************************
//       window.addEventListener("resize", resizeFunction);

//       var xa = 0;
//       function resizeFunction() {
//         var txt = ++xa;

//         var wt = $("#test").parent().width()
 
//           chart
//               .width(wt)
//               .rescale()
//               .render()

//         // if(wt > 900){   
//         //   daily_line_chart
//         //       .width(wt*0.7)
//         //       .rescale()
//         //       .render()

//         //   range_chart
//         //       .width(wt*0.7)
//         //       .rescale()
//         //       .render()
//         //   }else{   
//         //   daily_line_chart
//         //       .width(wt)
//         //       .rescale()
//         //       .render()

//         //   range_chart
//         //       .width(wt)
//         //       .rescale()
//         //       .render()

//         //   }
//         //   $("#range_chart .y").remove()
        
//       }  

//     dc.renderAll()
//       //  $("#range_chart .y").remove()

//   }, 
//   error: function(xhr, option, error){
//     alert(xhr.status); 
//     alert(error);
//   },
//   complete: function(){
//     $('#mloader').hide();

//   }
// });

// }

</script>

